body{
    background: rgb(102,96,215);
    background: linear-gradient(90deg, rgba(102,96,215,1) 0%, rgba(74,74,190,1) 36%, rgba(0,212,255,1) 100%);
    font-family: Trebuchet MS;
    color: white;
}
main{
    width: 730px;
    margin: 70px auto 20px;
    display: flex;
    align-items: center; 
}
.section1{
    background-color: rgba(255,255,255,0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
button{
    height: 100px;
    width: 100px;
    font-size: 30px;
    color: white;
    font-weight: medium;
}
button:hover{
    cursor: pointer;
}
.section2{
    background-color: rgba(255,255,255,0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0 20px;
}
.stadistics{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
footer{
    text-align: center;
}
img{
    width: 80px;
}
